flows.json
[{"id":"57688552.9857ec","type":"function","z":"d2e8ee8d.3e093","name":"PreToken","func":"global.set(\"dgn\",msg.payload.dgn)\nglobal.set(\"diagnosis\",msg.payload.diagnosis)\nglobal.set(\"fev\",msg.payload.fev)\nglobal.set(\"performance\",msg.payload.performance)\nglobal.set(\"pain\",msg.payload.pain)\nglobal.set(\"haemoptysis\",msg.payload.haemoptysis)\nglobal.set(\"dyspnoea\",msg.payload.dyspnoea)\nglobal.set(\"cough\",msg.payload.cough)\nglobal.set(\"weakness\",msg.payload.weakness)\nglobal.set(\"tnm\",msg.payload.tnm)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"mi\",msg.payload.mi)\nglobal.set(\"pad\",msg.payload.pad)\nglobal.set(\"smoking\",msg.payload.smoking)\nglobal.set(\"asthma\",msg.payload.asthma)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"cJxwkbqQOrmN6vSguejinOw1b1Mu4vjfTfh0uhHp-2w3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":380,"wires":[["7754f36a.b4d27c"]]},{"id":"7754f36a.b4d27c","type":"http request","z":"d2e8ee8d.3e093","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":368.9999952316284,"wires":[["89d28e5a.72e21"]]},{"id":"305207a5.bfb788","type":"debug","z":"d2e8ee8d.3e093","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":898.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"89d28e5a.72e21","type":"function","z":"d2e8ee8d.3e093","name":"Pre Prediction","func":"var dgn = global.get('dgn')\nvar diagnosis = global.get('diagnosis')\nvar fev = global.get('fev')\nvar performance = global.get('performance')\nvar pain = global.get('pain')\nvar haemoptysis = global.get('haemoptysis')\nvar dyspnoea = global.get('dyspnoea')\nvar cough = global.get('cough')\nvar weakness = global.get('weakness')\nvar tnm = global.get('tnm')\nvar dm = global.get('dm')\nvar mi = global.get('mi')\nvar pad = global.get('pad')\nvar smoking = global.get('smoking')\nvar asthma = global.get('asthma')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"75b3e9cf-4e06-49eb-9c4d-163e56ea2717\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"DGN\", \"Diagnosis\", \"FEV\", \"Performance\",\"Pain\",\"Haemoptysis\",\"Dyspnoea\",\"Cough\",\"Weakness\",\"TNM\",\"DM\",\"MI\",\"PAD\",\"Smoking\",\"Asthma\",\"Age\"], \"values\": [[dgn,diagnosis, fev, performance,pain,haemoptysis,dyspnoea,cough,weakness,tnm,dm,mi,pad,smoking,asthma,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":331.9999990463257,"wires":[["7d3c5d89.fbd4c4"]]},{"id":"7d3c5d89.fbd4c4","type":"http request","z":"d2e8ee8d.3e093","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/7c8d09be-69f9-4150-b17c-d0874478ffa6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":275.9999990463257,"wires":[["2910a3b3.c3f42c","305207a5.bfb788"]]},{"id":"800b9eea.4a63","type":"ui_form","z":"d2e8ee8d.3e093","name":"","label":"","group":"bb2ef2de.581df","order":1,"width":0,"height":0,"options":[{"label":"DGN","value":"dgn","type":"number","required":true,"rows":null},{"label":"Diagnosis","value":"diagnosis","type":"number","required":true,"rows":null},{"label":"FEV","value":"fev","type":"number","required":true,"rows":null},{"label":"Performance","value":"performance","type":"number","required":true,"rows":null},{"label":"Pain","value":"pain","type":"number","required":true,"rows":null},{"label":"Haemoptysis","value":"haemoptysis","type":"number","required":true,"rows":null},{"label":"Dyspnoea","value":"dyspnoea","type":"number","required":true,"rows":null},{"label":"Cough","value":"cough","type":"number","required":true,"rows":null},{"label":"Weakness","value":"weakness","type":"number","required":true,"rows":null},{"label":"TNM","value":"tnm","type":"number","required":true,"rows":null},{"label":"DM","value":"dm","type":"number","required":true,"rows":null},{"label":"MI","value":"mi","type":"number","required":true,"rows":null},{"label":"Pad","value":"pad","type":"number","required":true,"rows":null},{"label":"Smoking","value":"smoking","type":"number","required":true,"rows":null},{"label":"Asthma","value":"asthma","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"dgn":"","diagnosis":"","fev":"","performance":"","pain":"","haemoptysis":"","dyspnoea":"","cough":"","weakness":"","tnm":"","dm":"","mi":"","pad":"","smoking":"","asthma":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":422.9999952316284,"wires":[["57688552.9857ec"]]},{"id":"706dc71b.4487b8","type":"ui_text","z":"d2e8ee8d.3e093","group":"bb2ef2de.581df","order":2,"width":0,"height":0,"name":"","label":"Risk1Y","format":"{{msg.payload}}","layout":"row-spread","x":787.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"2910a3b3.c3f42c","type":"function","z":"d2e8ee8d.3e093","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":171.60000133514404,"wires":[["706dc71b.4487b8"]]},{"id":"bb2ef2de.581df","type":"ui_group","z":"","name":"Default","tab":"44b1e868.ff10f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"44b1e868.ff10f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]